* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #777;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #777;
}
body {
  width: 960px;
  margin: 0.5rem auto;
}
header,
nav,
footer,
section,
aside,
h1,
p {
  background: #ebebeb;
}
header,
nav,
footer {
  height: 90.48px;
  padding: 2rem;
}
header {
  margin-bottom: 0.5rem;
}

section,
aside {
  height: 297.024px;
  margin: 1rem 0;
}
section {
  width: 517px;
  float: left;
  margin-right: 1rem;
  padding: 0.5rem;
}
aside {
  width: calc(960px - 535px);
  float: left;
  padding-top: 2rem;
}
footer {
  clear: both;
}
section > p {
  padding: 1rem;
  margin: 0.65rem;
}
section article {
  background: #777;
  color: #ebebeb;
  padding: 1rem;
  height: auto;
}
section article h1 {
  padding: 1rem;
  margin: 1rem 0 0.5rem 0;
}
section article p {
  padding: 1rem;
}
